* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: 'post-no-bills-jaffna-extrabold';
    src: url('font/PostNoBillsJaffna-ExtraBold.ttf') format('truetype');
}

body {
    height: 100vh;
    background-size: 120vw;
    background-color: black;
    background-attachment: fixed;
    background-position-x: right;
    background-image: url(files/fundo.jpg);
}

.component-container {
    display: flex;
    margin-left: 30vw;
    align-items: flex-end;
    flex-direction: column;
}

.navb {
    display: flex;
    font-size: 24px;
}

.navb div {
    gap: 50px;
    height: 86px;
    display: flex;
    align-items: center;
}

.navb div a {
    gap: 8px;
    color: white;
    display: flex;
    align-items: center;
}

.navb img {
    width: 168px;
    margin-top: 12px;
    margin-left: 39px;
}

.slogan-card {
    /*  estilo de slogan */
    width: 50vw;
    color: white;
    display: flex;
    margin-right: 132px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(50vh - 168px);
    margin-top: calc(50vh - 134px - 168px);
}

.slogan-card h1 {
    /* estilo titulo do slogan */
    margin: 0px;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
}

.slogan-card h2 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
}

.slogan-card p {
    font-size: 30px;
}

#login-register-component,
#products-component,
#comodato-component,
#contact-component,
#change-password-component {
    display: none;
}