* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: 'post-no-bills-jaffna-extrabold';
    src: url('../font/PostNoBillsJaffna-ExtraBold.ttf') format('truetype');
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: black;
    background-image: url(../files/fundo.jpg);
    background-size: 120vw;
    background-attachment: fixed;
    background-position-x: right;
}

.navb {
    display: flex;

    font-size: 24px;
}

.navb div {
    display: flex;
    align-items: center;
    height: 86px;
    gap: 50px;
}

.navb div a {
    color: white;
}

.navb img {
    width: 168px;
    margin-top: 12px;
    margin-left: 39px;
}

#login-register-component, #services-component, #contact-component, #change-password-component {
    display: none;
}