/* estilização pagina inicial */

#slogan {
    /*  estilo de stolgan */
    width: 50vw;
    margin-right: 132px;
    margin-top: calc(50vh - 134px - 168px);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #slogan h1,
#slogan p {
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
    font-size: 90px;
    line-height: 40px;
} */

#slogan h1 {
    /* estilo titulo do stolgan */
    font-size: 120px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
}

#slogan h2 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
}

#slogan p {
    font-size: 30px;
    line-height: 20px;
}