#home {
    background-color: black;
    background-image: url(../files/fundo.jpg);
    background-size: cover;
}

/* persoanlizando navbar */
.navbar-brand {
    color: white;
}

.navb {
    text-align: right;
}

.box-image {
    position: relative;
}

/* posição do texto da navbar */
.navb {
    position: absolute;
    top: 0;
    right: 300px;
    z-index: 1;
    padding: 10px;
}

/* escurecendo imagem de fundo */
.box-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#FFFFFF);
}

/* personalizando logo */
.logo {
    margin-top: 15px;
    position: absolute;
    right: 20px;
    top: -50px;
    z-index: 1;
    padding: 10px;
    height: 300px;
    border-radius: 100px;
}

/* texto de inicio */
#slogan h1,
#slogan p {
    position: absolute;
    top: 200px;
    right: 30px;
    font-family: 'post-no-bills-jaffna-extrabold', sans-serif;
    color: white;
    white-space: pre;
    font-size: 80px !important;
}




/* classe "fade-in" para adicionar animação na rolagem */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.box-login {
    /* estilizando box login */
    position: absolute;
    top: 300px;
    right: 400px;
    color: black;
    background-color: white;
    padding: 70px 80px;
    border-radius: 15px;
}

.form-label {
    /* estilizando formulario */
    text-align: left;
    font-weight: bold;
}

.form-control {
    /* controle de formulario estilização */
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button .registro{
    /* estilo de botão */
    border-radius: 90px;
    background-color: white;
    color: black;
    padding: 15px 80px;
    border: 1px solid transparent 1px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

button:hover {
    /* animação de transição de cor de botão  */
    background-color: black;
    color: white;
    border-color: white;
}

.form-registro { /* sem aparecer o formulario de registro  */
    display: none;
}

/* tela registro */

.form-registro {
    /* estilizando box login */
    position: absolute;
    top: 300px;
    right: 400px;
    color: black;
    background-color: white;
    padding: 70px 200px;
    border-radius: 15px;
}

.form-label {
    /* estilizando formulario */
    text-align: left;
    font-weight: bold;
}

.form-control {
    /* controle de formulario estilização */
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}